.container {
    margin: 0 10%;
    font-family: 'Oswald', sans-serif;
    color: #696969;
}

a {
    text-decoration: inherit;
    color: inherit;
    
}

.header {
    background-color: lightgray;
    display: flex; 
    margin-top: 1rem;  
    font-family: 'Oswald', sans-serif;
    border-radius: 0.3rem;
}

.title {
    margin-top: auto;
    font-family: inherit;
}

.subtitle {
    margin-top: auto;
    margin-right: 0.3rem;
    font-family: inherit;
    
    
}

.subtitle:hover {
    color: #4169E1;
    transition: 0.3s;
}

.login {
    margin-left: auto;
}

.singup {
    margin-left: 0.8rem;
}

.login-body {
    font-family: Arial, "Oswald", sans-serif;
    margin: 4rem 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
   margin-bottom: 1.2rem;
}

input {
    border-radius: 0.3rem;
    border: solid 1px;
    font-size: 1.5rem;
    border-color: #A9A9A9;
}

.button {
    color: white;
    font-size: 1rem;
    border-radius: 0.3rem;
    width: 18.375rem;
    height: 2.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    background-color: #1E90FF;
    cursor: pointer;
}

.button:hover {
    background-color: #4169E1;
    transition: 0.4s;
}



.black-login {
    color: #1E90FF;
}

.black-singup {
    color: #1E90FF;
}



    
